.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  text-align: center;
}

.news__container {
  display: flex;
  gap: 10px;
  border: 1px solid grey;
}

.left__inner-container {
  text-align: center;
  min-width: 30%;
  border-right: 1px solid grey;
}

.right__inner-container {
  width: 100%;
}

.right__inner-container h4 {
  text-align: center;
}

.pagination__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.pagination__btn {
  padding: 5px 10px;
  cursor: pointer;
  color: black;
}

.home__link {
  text-align: end;
  justify-content: flex-end;
  display: flex;
  margin-right: 10px;
}

.refresh-button {
  display: flex;
  margin: 20px auto;
}
